* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, auto));
    grid-template-rows: repeat(5, minmax(0, auto));
}
header {
        padding: 0.5rem;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: aquamarine;
        grid-column: 1 / 14;
        grid-row: 1 / 2;
}
.logo {
        width: 7vh;
        text-align: center;
}
.header-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
}
.main-nav a {
        list-style-type: none; 
        padding: 0.4rem;
        font-size: 0.7rem;
        border: 10px bold gray;
        border-radius: 50%;
}
.main-nav a:hover {
        transform: scale(1.05);
}

.img {
    margin: 1vh 3vh;
    border-radius: 10%;
    max-width: 100%;
}
img {
    max-width: 100%;
}
.content-nav {
        width: 100%;
}
main {
    grid-column: 1 / 14;
    grid-row: 3 / 4;
}
.section-2 {
    margin: 5vh 0;
    display: flex;
    flex-wrap: wrap;
}
.content-nav-2 {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30%;
}
.photos {
    width: 10vh;
    border-radius: 50%;
}
.founder {
    margin-bottom: 3vh;
}
.inbetween-hr {
    width: 86%;
    margin: 2vh 0 5vh 0;
    height: 0.5vh;
    background-color: gray;
}
.text {
    font-size: 1.3rem;
    line-height: 5vh;
    font-family: 'Times New Roman', Times, serif
}


    footer {
        padding: 0.5rem;
        background-color: aquamarine;
        grid-column: 1 / 14;
        grid-row: 5 / 6;
    }
    .footer-nav {
        display: flex;
        justify-content: center;
    }
    .img-icons {
        padding: 1vh;
        width: 7vh;
    }
    footer p {
        text-align: center;    
    }
    /* References page */
.references {
    background-color: antiquewhite;
    margin: 4%;
    border-radius: 10%;
}
.references div {
    padding: 4vh 3vw 0vh 10vw;

}
.hanging-text {
    padding: 10px;
    padding-left: 64px;
    text-indent: -30px
}
    

    /* content pages */
    .writer {
        margin: 2vh 1vh 4vh;
        padding-left: 0.5vh;
    }
    hr {
        margin: 1vh 0 3vh 1.5vh ;
        text-align: center;
    }
    .writer hr {
        margin: 2vh 0;
    }
    .profile {
        display: flex;
    }
    .profile h4{
        padding-top: 1.5vh;
    }
    .writer img {
        width: 10vh;
        border-radius: 50%;
    }
    .heading-pages {
        text-align: center;
        margin: 0 7vw;
        margin-bottom: 2vh;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: brown;
    }
    .inventions img{
        margin: 0 4vw;
        border-radius: 10%;
    }
    .inventions p {
        margin-top: 1.5vh;
        padding-left: 5vw;
    }
    aside {
        margin: 4vh;
        padding: 4vh;
        background-color: antiquewhite;

    }
    aside h2, h3 {
        text-align: center;
        padding-bottom: 2vh;
        padding-top: 1vh;
    }
    h1,h2 {
        text-align: center;
        
    }
    aside hr {
        margin-bottom: 2vh;
    }
    .links-a p{
        margin: 1vh 0;
    }
    a {
        text-decoration: none;
    }
    aside img {
        border-radius: 10%;
    }
/* pages */
.criteria {
    padding: 2vh 0 0 2vh;
}
.name {
    padding: 2vh 0 ;
}

