* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, auto));
        grid-template-rows: repeat(5, minmax(0, auto));
    }
    header {
        padding: 0.5rem;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: aquamarine;
        grid-column: 1/13;
    }
    .header-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .main-nav a {
        list-style-type: none; 
        padding: 0.10rem;
        font-size: 0.7rem;
    }
    .main-nav a {
        text-decoration: none;
        border: 10px bold gray;
        border-radius: 50%;
    }
    .main-nav a:hover {
        transform: scale(1.05);
    }
    img {
        max-width: 100%;
    }
    footer {
        padding: 0.5rem;
        background-color: aquamarine;
        grid-column: 1/13;
        grid-row: 5 / 6;
    }
    footer p {
        text-align: center;    
    }
}